<div class="container">
  <form (submit)="onSubmit()">
    <div class="row mt-3">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            name="toDoTitle"
            placeholder="Title"
            [(ngModel)]="toDoTitle">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <ngb-datepicker
            #dp
            name="dp"
            [minDate]="minDate"
            [(ngModel)]="toDoDate"></ngb-datepicker>
        </div>
      </div>
      <div class="col">
        <div class="form-group form-check">
          <ngb-timepicker
            name="tp"
            [(ngModel)]="toDoTime"
            [meridian]="meridian"></ngb-timepicker>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!toDoTitle || !toDoDate || !toDoTime">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
