<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    [routerLink]="['/']">
    ToDoApp
  </a>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/list', 'new']">
          New
        </a>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active">
        <a
          class="nav-link"
          [routerLink]="['/list']">
          List
        </a>
      </li>
    </ul>
  </div>
</nav>
