<ul
  class="list-group"
  *ngIf="todos.length">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let todo of todos">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ todo.title }}</h5>
      <div
        class="btn-group"
        role="group">
        <button
          [disabled]="todo.completed"
          type="button"
          class="btn btn-lg btn-success"
          (click)="onComplete(todo)">
          Done
        </button>
        <button
          [disabled]="todo.completed"
          type="button"
          class="btn btn-lg btn-primary"
          (click)="onEdit(todo)">
          Edit
        </button>
        <button
          type="button"
          class="btn btn-lg btn-danger"
          (click)="onDelete(todo)">
          Delete
        </button>
      </div>
    </div>
    <small *ngIf="todo.dueDate">
      Due on: {{ todo.dueDate | date:'short'}}
    </small>
  </a>
</ul>
<div
  *ngIf="!todos.length"
  class="card">
  <div class="card-body">You're all caught up.</div>
</div>
